proxmox_endpoint     = "https://pve.example.com:8006/"
proxmox_insecure     = true
default_node_name    = "pve01"
default_datastore_id = "local-lvm"

# Ne placez pas le secret ici. Utilisez :
# $env:TF_VAR_proxmox_api_token = "terraform@pve!terraform=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

templates = {
  template-debian = {
    vm_id     = 9000
    node_name = "pve01"
  }

  template-ubuntu = {
    vm_id     = 9001
    node_name = "pve01"
  }

  template-rocky = {
    vm_id        = 9002
    node_name    = "pve02"
    full_clone   = true
    datastore_id = "ceph-vm"
  }
}
